body{
    background-color: rgb(131, 40, 40);
    font: normal 15pt Arial;
}
header{
    text-align: center;
    color: white;
}


section{
    background-color: white;
    box-shadow: 3px 3px 10px black;
    border-radius: 15px;
    padding: 12px;
    margin: auto;
    width: 400px;

}
footer{
    text-align: center;
    font-style: italic;
    color: white;
}
